---
layout: default
---
<!-- 
<div class="home" id="home">
  <ul class="posts noList">
    {% for post in paginator.posts %}
      <li>
        <span class="date">{{ post.date | date: '%B %d, %Y' }}</span>
        <h3><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
        <p class="description">{% if post.description %}{{ post.description | strip_html | strip_newlines | truncate: 250 }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 250 }}{% endif %}</p>
      </li>
    {% endfor %}
  </ul>
 
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous button__outline">Newer Posts</a> 
    {% endif %}
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="next button__outline">Older Posts</a>
    {% endif %}
  </div>
</div>
-->

<div class="post">

  <div class="avatar">
    <img src="{{ '/assets/img/avatar.png' | prepend: site.baseurl }}" alt="Luiz Venturote">   
  </div>

  <p class="intro">Hi my name is Luiz Venturote. I'm a Magento front-end developer at <a href="http://www.imaginemage.com/" target="_blank">Imagination Media</a>.</p>

  <p>I love internet and web development. I have worked with Wordpress and design for several years, creating layouts and applications. But now I am keeping the focus of my work in e-commerce development with Magento, creating themes and extensions and I got my first <a href="https://www.magentocommerce.com/certification/directory/dev/2261168/" target="_blank">front-end certification</a> in early 2016.</p>

  <p>I enjoy music, learning foreign languages and Bible. If you want to know more about me or on those issues, please <a href="mailto:{{ site.social.email }}">contact me!</a></p>

</div>